@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  outline: none;

}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.dropdown-option {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-align: left;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
